[submodule "purrveous-backend"]
	path = purrvelous-backend
	url = git@github.com:ihashib/purrvelous-backend.git
[submodule "purrvelous-frontend"]
	path = purrvelous-frontend
	url = git@github.com:ihashib/purrvelous-frontend.git
[submodule "purrvelous-backend"]
	path = purrvelous-backend
	url = git@github.com:ihashib/purrvelous-backend.git
